# LEARNING PYTHON : Object and data structure basics

Numbers

In [2]:
#addition
3+4

7

In [3]:
#sub
5-4

1

In [4]:
#mul
3*6

18

In [5]:
#div
6/3

2.0

In [6]:
#floor division
7//4

1

The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

In [7]:
# Modulo
7%4

3

In [8]:
# Powers
2**3

8

In [9]:
# Can also do roots this way
4**0.5

2.0

In [10]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [11]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

In [17]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [18]:
# Adding the objects
a+a

10

In [19]:
# Check
a

5

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [20]:
# Reassignment
a = 10

In [21]:
# Use A to redefine A
a = a + a

The names you use when creating these labels need to follow a few rules:

1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead.
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
4. It's considered best practice (PEP8) that names are lowercase.
5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
   or 'I' (uppercase letter eye) as single character variable names.
6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python.

In [22]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [23]:
# Show my taxes!
my_taxes

10.0

In [24]:
#python3 performs true division by deafult

1/2

0.5

# Dynamic Typing
Python uses dynamic typing, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are statically typed.

## Pros and Cons of Dynamic Typing

Pros of Dynamic Typing
-very easy to work with 
-faster development time

Cons of Dynamic Typing
-may result in unexpected bugs!
-you need to be aware of type()

In [25]:
type(a)

int

In [26]:
a = (2,3)

In [27]:
type(a)

tuple

## String

## Creating a String

To create a string in Python you need to use either single quotes or double quotes. 
If there is a ' in the string you can use "" to solve the problem and vice versa.

To output multiple strings at a time we need to use print("  ")

len()--->Gives the length of the string 

## String Indexing

We use indexes to call a part of an statement. we use brackets [] after an object to call its index. We should also note that indexing starts at 0 for Python.

## String Slicing

We can use a : to perform slicing which grabs everything up to a designated point. Check examples.

In [28]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [29]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [30]:

print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

In [31]:
len('Hello World')

11

In [32]:
# Assign s as a string
s = 'Hello World'
s

'Hello World'

In [33]:
# Show first element (in this case a letter)
s[0]

'H'

In [34]:
s[2]

'l'

In [35]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [36]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

NOTE!!!!!!!!!

the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [37]:
#Everything
s[:]

'Hello World'

In [38]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [39]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

In [40]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [41]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [42]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

# String Properties
It's important to note that strings have an important property known as immutability. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [43]:
s

'Hello World'

In [45]:
s[2]='x'

TypeError: 'str' object does not support item assignment

In [46]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

We can use the multiplication symbol to create repetition!

In [47]:
letter = 'z'

In [48]:
letter*10

'zzzzzzzzzz'

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

## Use string. + tab button to check for methods on string

In [49]:
s

'Hello World'

In [50]:
# Upper Case a string
s.upper()

'HELLO WORLD'

In [51]:
s.lower()

'hello world'

In [52]:
s.split()

['Hello', 'World']

In [53]:
# Split by a specific element (doesn't include the element that was split on)
s.split('o')

['Hell', ' W', 'rld']

# Print Formatting

## Formatting with the .format() method
A better way to format objects into your strings for print statements is with the string .format() method. The syntax is:

'String here {} then also {}'.format('something1','something2')

In [54]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

 ### 1. Inserted objects can be called by index position:

In [1]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

### 2. Inserted objects can be assigned keyword

In [2]:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))

First Object: 1, Second Object: Two, Third Object: 12.3

### 3. Inserted objects can be reused, avoiding duplication

In [4]:
print("first {p}, second {p}".format(p="hellooooooo"))

first hellooooooo, second hellooooooo

## Formatted String Literals (f-strings)

In [5]:
name = 'Fred'

print(f"He said his name is {name}.")

He said his name is Fred.

### Pass !r to get the string representation:

In [6]:
print(f"He said his name is {name!r}")

He said his name is 'Fred'

# Lists
Earlier when discussing strings we introduced the concept of a sequence in Python. Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

Lists are constructed with brackets [] and commas separating every element in the list.

lists can actually hold different object types!!!!!!!!!!!!

Just like strings, the len() function will tell you how many items are in the sequence of the list.

## Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

We can also use + to concatenate lists, just like we did for strings.

In [7]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [8]:
my_list = ['A string',23,100.232,'o']

In [9]:
my_list

['A string', 23, 100.232, 'o']

In [10]:
len(my_list)

4

In [11]:
my_list[0]

'A string'

In [12]:
# Grab everything UP TO index 3
my_list[:3]

['A string', 23, 100.232]

In [13]:
my_list + ['new item']

['A string', 23, 100.232, 'o', 'new item']

In [14]:

# Reassign
my_list = my_list + ['add new item permanently']

In [16]:
my_list

['A string', 23, 100.232, 'o', 'add new item permanently']

In [17]:
my_list * 2

['A string',
 23,
 100.232,
 'o',
 'add new item permanently',
 'A string',
 23,
 100.232,
 'o',
 'add new item permanently']

## Basic List Methods
If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

In [20]:

# Create a new list
list1 = [1,2,3]

In [21]:
# Append
list1.append('append me!')

In [22]:
list1

[1, 2, 3, 'append me!']

In [23]:
# Pop off the 0 indexed item
list1.pop(0)

1

In [24]:
list1

[2, 3, 'append me!']

In [25]:
list1.pop()

'append me!'

### We can use the sort method and the reverse methods to also effect your lists:

In [26]:
new_list = ['a','e','x','b','c']

In [27]:
new_list.reverse()

In [28]:
new_list

['c', 'b', 'x', 'e', 'a']

In [29]:
new_list.sort()

In [30]:
new_list

['a', 'b', 'c', 'e', 'x']

## Nesting Lists
A great feature of of Python data structures is that they support nesting. This means we can have data structures within data structures. For example: A list inside a list.

In [31]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [32]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [33]:
matrix[0]

[1, 2, 3]

In [34]:
matrix[0][0]

1

# Dictionary

Mappings are a collection of objects that are stored by a key, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.

In [1]:
my_dict = {'key1':'value1','key2':'value2'}

In [2]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [3]:

my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [4]:
my_dict['key3']

['item0', 'item1', 'item2']

In [5]:
my_dict['key3'][0]

'item0'

## Can then even call methods on that value

In [6]:
my_dict['key3'][0].upper()

'ITEM0'

In [7]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [8]:
my_dict

{'key1': 0, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [9]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [10]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

## Methods on a dictionnary

.key
.value
.item

In [12]:
d = {'key1':1,'key2':2,'key3':3}

In [13]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [14]:
d.values()

dict_values([1, 2, 3])

In [15]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

# Tuples
In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed.

The construction of a tuples use () with elements separated by commas.

In [16]:
t = (1,2,3)

In [17]:
len(t)

3

In [18]:
t = ('one',2)
t

('one', 2)

In [19]:
t[0]

'one'

## Methods on tuples

.index
.count

In [21]:
t.index('one')

0

In [22]:
t.count('one')

1

# FILES

## IPython Writing a File
### This function is specific to jupyter notebooks!

In [24]:
%%writefile test.txt
Hello, this is a text file

Writing test.txt

## Python Opening a file
Let's being by opening the file test.txt that is located in the same directory as this notebook. For now we will work with files located in the same directory as the notebook or .py script you are using.

If you try opening a file which isn't in the same directory, you will encounter an error. Hence to do so you have to mention the whole path ie. myfile = open("C:\\Users\\YourUserName\\Home\\Folder\\myfile.txt")

You can use PWD for help.(To see which directory you are in and also the syntax of the path)

In [27]:
my_file = open('test.txt')

# Read files!!

Once you read the files the cursor is shifted to the end of the file, thus you have to use the "SEEK(0)" method to read again.

In [31]:
my_file.read()

'Hello, this is a text file\n'

In [32]:
my_file.read()

''

In [33]:
my_file.seek(0)

0

In [34]:
my_file.read()

'Hello, this is a text file\n'

### When you have finished using a file, it is always good practice to close it.

In [35]:
my_file.close()

# Writing to a File!!

By default, the open() function will only allow us to read the file. We need to pass the argument 'w' to write over the file.

In [36]:
my_file = open('test.txt','w+')

In [37]:
my_file.write('This is a new line')

18

In [38]:
my_file.seek(0)
my_file.read()

'This is a new line'

In [39]:
my_file.close()  # always do this when you're done with a file

# Reading,Writing,Apending modes

- mode='r' (Only reads)
- mode= 'w' (write only, will overwrite files or create new)
- mode= 'a' (append to files)
- mode= 'r+'(reading and writing)
- mode= 'w+'(writing and reading)

### As, there are chances that we forget to close the file. we can use the following method by which we will not have to worry about closing the file.

In [46]:
with open('myfile.txt',mode='w') as my_new_file:
    my_new_file.write('This is my newwww fileeee!!!')

In [47]:
with open('myfile.txt', mode='r') as f:
    print(f.read())

This is my newwww fileeee!!!

In [48]:
with open('myfile.txt',mode='a') as my_new_file:
    my_new_file.write('\nThis is my newwww fileeee!!!')

In [49]:
with open('myfile.txt', mode='r') as f:
    print(f.read())

This is my newwww fileeee!!!
This is my newwww fileeee!!!

# Resources for More Basic Practice 

### Basic Practice:

http://codingbat.com/python

### More Mathematical (and Harder) Practice:

https://projecteuler.net/archives

### List of Practice Problems:

http://www.codeabbey.com/index/task_list

### A SubReddit Devoted to Daily Practice Problems:

https://www.reddit.com/r/dailyprogrammer

### A very tricky website with very few hints and touch problems (Not for beginners but still interesting)

http://www.pythonchallenge.com/

# Objects and Data Structures Assessment Test

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

In [79]:
(60 + (10 ** 2) / 4 * 7) - 134.75

100.25

What would you use to find a number’s square root, as well as its square?

In [56]:
4.0**(0.5)

2.0

In [57]:
2**2

4

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [58]:
s = 'hello'
s[1]

'e'

Reverse the string 'hello' using slicing:

In [65]:
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [67]:
s[4]

'o'

In [68]:
s[-1]

'o'

Build this list [0,0,0] two separate ways.

In [70]:
my_l = [0,0,0]

In [71]:
l =[]

In [75]:
l.append(0)
l

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [76]:
list3 = [1,2,[3,4,'hello']]

In [77]:
list3[2][2]='hello'

In [78]:
list3

[1, 2, [3, 4, 'hello']]